@use 'vars';

.info {
    background-color: vars.$green;
    color: #fff;

    padding: 20vh 0;
    // text-align: center;

    .container {
        display: flex;
        gap: 5vw;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__image {
        max-width: 400px;
        border-radius: 8px;
        box-shadow: 10px 10px 10px black;
    }

    &__title {
        padding-bottom: 24px;
        font-size: 48px;
        line-height: 58px;
    }

    &__text {
        line-height: 38px;
    }
}