@use 'vars';
@use 'hero';
@use 'info';
@use 'last';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;

    @media (max-width: 1024px) {
        width: 100%;
        max-width: 90%;
        overflow-x: hidden;
    }
}

.title {
    padding-bottom: 24px;
    font-size: 48px;
    line-height: 58px;
}

.text {
    line-height: 38px;
}