@use 'vars';
@use 'hero';
@use 'info';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}